<mat-card>
    <mat-card-title>Développeurs et développeuses : à table</mat-card-title>
    <mat-card-subtitle>qui mange bien code mieux :D</mat-card-subtitle>
    <img mat-card-image [src]="restaurant" alt="Photo of peaples eating">
    <mat-card-content>
        <p>
            à savoir entre deux seances de dév un bon plat et une bonne boisson s'impose.
            si vous avez besoin de manger ou niker on est tous la pour vous satisfaire à la table du développeur ;)
        </p>
    </mat-card-content>
</mat-card>
